# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.env

# IDEs
.vscode/
*.swp
*.swn
Thumbs.db
.DS_Store

# Audio / video / large data
audios/
videos/
*.mp3
*.wav
*.flac

# sample media folders (don't push)
RAG-assistance/1758903138109-rag_sample-videos/
RAG-assistance/1758903342221-rag_all_audios/


# Model / vector files
*.joblib
embeddings.joblib
tfidf_vectorizer.joblib

# OneDrive / OS
.one/ 
